<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d7bf781-544c-4810-b956-f9f1ce9d58be" Alias="Doing Your Job" Level="2">
  <Info>
    <Parent Key="4c2586a6-93e7-4e53-aaf2-8899ee7b8f9f">HandbookHomePage</Parent>
    <Path>/HandbookHomePage/DoingYourJob</Path>
    <Trashed>false</Trashed>
    <ContentType>HandbookCategoryCard</ContentType>
    <CreateDate>2025-06-11T00:37:26</CreateDate>
    <NodeName Default="Doing Your Job" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="01b9177f-19bc-49e5-833e-77fab3193673">categoryContent</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Explore policies that shape your everyday work experience—from job expectations and conduct to remote work, equipment, and scheduling.]]></Value>
    </categoryDescription>
    <categoryTitle>
      <Value><![CDATA[Doing Your Job]]></Value>
    </categoryTitle>
  </Properties>
</Content>