<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed2743ee-a21d-49ba-8378-d23589f84329" Alias="Employment &amp; Career Management" Level="2">
  <Info>
    <Parent Key="4c2586a6-93e7-4e53-aaf2-8899ee7b8f9f">HandbookHomePage</Parent>
    <Path>/HandbookHomePage/EmploymentCareerManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>HandbookCategoryCard</ContentType>
    <CreateDate>2025-08-12T19:34:20</CreateDate>
    <NodeName Default="Employment &amp; Career Management" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="01b9177f-19bc-49e5-833e-77fab3193673">categoryContent</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Find everything you need to know about joining, growing, and transitioning at Neumo — from how we hire and promote to how we handle role changes, resignations, and other employment updates.]]></Value>
    </categoryDescription>
    <categoryTitle>
      <Value><![CDATA[Employment & Career Management]]></Value>
    </categoryTitle>
  </Properties>
</Content>