<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c0c816e-9001-4bdf-8f2f-07db9eab5cf8" Alias="Employment &amp; Career Management" Level="2">
  <Info>
    <Parent Key="606ced54-9497-41f4-b601-73c17f91d81c">HandbookHomePage</Parent>
    <Path>/HandbookHomePage/EmploymentCareerManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>HandbookCategoryCard</ContentType>
    <CreateDate>2025-12-16T22:49:19</CreateDate>
    <NodeName Default="Employment &amp; Career Management" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="01b9177f-19bc-49e5-833e-77fab3193673">categoryContent</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Find everything you need to know about joining, growing, and transitioning at Neumo — from how we hire and promote to how we handle role changes, resignations, and other employment updates.]]></Value>
    </categoryDescription>
    <categoryTitle>
      <Value><![CDATA[Employment & Career Management]]></Value>
    </categoryTitle>
  </Properties>
</Content>