<?xml version="1.0" encoding="utf-8"?>
<Content Key="861a0d59-d86a-42fb-b7fb-cf00a0ba68d1" Alias="Getting Paid" Level="2">
  <Info>
    <Parent Key="4c2586a6-93e7-4e53-aaf2-8899ee7b8f9f">HandbookHomePage</Parent>
    <Path>/HandbookHomePage/GettingPaid</Path>
    <Trashed>false</Trashed>
    <ContentType>HandbookCategoryCard</ContentType>
    <CreateDate>2025-06-11T00:17:53</CreateDate>
    <NodeName Default="Getting Paid" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="01b9177f-19bc-49e5-833e-77fab3193673">categoryContent</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Learn how and when you get paid, what shows up on your paycheck, and how to manage things like timekeeping, direct deposit, and pay adjustments.]]></Value>
    </categoryDescription>
    <categoryTitle>
      <Value><![CDATA[Getting Paid]]></Value>
    </categoryTitle>
  </Properties>
</Content>