<?xml version="1.0" encoding="utf-8"?>
<Content Key="b330e222-4679-4a0f-9f7e-137820ca4988" Alias="Getting Support" Level="2">
  <Info>
    <Parent Key="4c2586a6-93e7-4e53-aaf2-8899ee7b8f9f">HandbookHomePage</Parent>
    <Path>/HandbookHomePage/GettingSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>HandbookCategoryCard</ContentType>
    <CreateDate>2025-06-11T00:38:52</CreateDate>
    <NodeName Default="Getting Support" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="01b9177f-19bc-49e5-833e-77fab3193673">categoryContent</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Learn who to contact, how to request accommodations, and where to go for help with HR questions, benefits, or workplace concerns.]]></Value>
    </categoryDescription>
    <categoryTitle>
      <Value><![CDATA[Getting Support]]></Value>
    </categoryTitle>
  </Properties>
</Content>