<?xml version="1.0" encoding="utf-8"?>
<Content Key="79cd0e31-c74e-4732-99bc-f36605ed29ff" Alias="Getting Paid" Level="2">
  <Info>
    <Parent Key="606ced54-9497-41f4-b601-73c17f91d81c">HandbookHomePage</Parent>
    <Path>/HandbookHomePage/GettingPaid</Path>
    <Trashed>false</Trashed>
    <ContentType>HandbookCategoryCard</ContentType>
    <CreateDate>2025-12-16T22:45:35</CreateDate>
    <NodeName Default="Getting Paid" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="01b9177f-19bc-49e5-833e-77fab3193673">categoryContent</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Learn how and when you get paid, what shows up on your paycheck, and how to manage things like timekeeping, direct deposit, and pay adjustments.]]></Value>
    </categoryDescription>
    <categoryTitle>
      <Value><![CDATA[Getting Paid]]></Value>
    </categoryTitle>
  </Properties>
</Content>