<?xml version="1.0" encoding="utf-8"?>
<Content Key="92837e1c-0227-4cfc-8a0b-843ba0337674" Alias="Getting Support" Level="2">
  <Info>
    <Parent Key="606ced54-9497-41f4-b601-73c17f91d81c">HandbookHomePage</Parent>
    <Path>/HandbookHomePage/GettingSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>HandbookCategoryCard</ContentType>
    <CreateDate>2025-12-16T22:49:43</CreateDate>
    <NodeName Default="Getting Support" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="01b9177f-19bc-49e5-833e-77fab3193673">categoryContent</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Learn who to contact, how to request accommodations, and where to go for help with HR questions, benefits, or workplace concerns.]]></Value>
    </categoryDescription>
    <categoryTitle>
      <Value><![CDATA[Getting Support]]></Value>
    </categoryTitle>
  </Properties>
</Content>