<?xml version="1.0" encoding="utf-8"?>
<Content Key="606ced54-9497-41f4-b601-73c17f91d81c" Alias="HandbookHomePage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HandbookHomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>handbookHomePage</ContentType>
    <CreateDate>2025-12-16T22:41:15</CreateDate>
    <NodeName Default="HandbookHomePage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85a6dd37-d419-4f69-a8c6-c127dba084ac">handbookHomePage</Template>
  </Info>
  <Properties>
    <categoriesToDisplay>
      <Value><![CDATA[umb://document/79cd0e31c74e473299bcf36605ed29ff,umb://document/853977821a3f49ce97de719a65e452df,umb://document/479e430d15ac4409a833f3f5a1cf6396,umb://document/3c0c816e90014bdf8f2f07db9eab5cf8,umb://document/92837e1c02274cfc8a0b843ba0337674,umb://document/bb4ad97e7d204b30b1a9945c639e8c45]]></Value>
    </categoriesToDisplay>
    <introText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWelcome!\u003C/p\u003E"
}]]></Value>
    </introText>
    <pageTitle>
      <Value><![CDATA[Neumo Employee Handbook]]></Value>
    </pageTitle>
  </Properties>
</Content>