<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c2586a6-93e7-4e53-aaf2-8899ee7b8f9f" Alias="HandbookHomePage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HandbookHomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>handbookHomePage</ContentType>
    <CreateDate>2025-08-03T17:10:35</CreateDate>
    <NodeName Default="HandbookHomePage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85a6dd37-d419-4f69-a8c6-c127dba084ac">handbookHomePage</Template>
  </Info>
  <Properties>
    <categoriesToDisplay>
      <Value><![CDATA[umb://document/861a0d59d86a42fbb7fbcf00a0ba68d1,umb://document/cb8f35a8740a41e4a5f1ee1aa3cdd6ce,umb://document/6d7bf781544c4810b956f9f1ce9d58be,umb://document/0db158e8b6df48238308f033fe9694b4,umb://document/b330e22246794a0f9f7e137820ca4988,umb://document/f5a8c9d23e144f219b768c3a7e5d2f41,umb://document/ed2743eea21d49ba8378d23589f84329]]></Value>
    </categoriesToDisplay>
    <introText>
      <Value><![CDATA[]]></Value>
    </introText>
    <pageTitle>
      <Value><![CDATA[Employee Handbook]]></Value>
    </pageTitle>
  </Properties>
</Content>