<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb4ad97e-7d20-4b30-b1a9-945c639e8c45" Alias="Staying Safe" Level="2">
  <Info>
    <Parent Key="606ced54-9497-41f4-b601-73c17f91d81c">HandbookHomePage</Parent>
    <Path>/HandbookHomePage/StayingSafe</Path>
    <Trashed>false</Trashed>
    <ContentType>HandbookCategoryCard</ContentType>
    <CreateDate>2025-12-16T22:50:26</CreateDate>
    <NodeName Default="Staying Safe" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="01b9177f-19bc-49e5-833e-77fab3193673">categoryContent</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Review safety practices, injury reporting, drug and alcohol guidelines, and health-related policies that keep you and others protected at work.]]></Value>
    </categoryDescription>
    <categoryTitle>
      <Value><![CDATA[Staying Safe]]></Value>
    </categoryTitle>
  </Properties>
</Content>