<?xml version="1.0" encoding="utf-8"?>
<Content Key="0db158e8-b6df-4823-8308-f033fe9694b4" Alias="Staying Safe" Level="2">
  <Info>
    <Parent Key="4c2586a6-93e7-4e53-aaf2-8899ee7b8f9f">HandbookHomePage</Parent>
    <Path>/HandbookHomePage/StayingSafe</Path>
    <Trashed>false</Trashed>
    <ContentType>HandbookCategoryCard</ContentType>
    <CreateDate>2025-06-11T00:38:05</CreateDate>
    <NodeName Default="Staying Safe" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="01b9177f-19bc-49e5-833e-77fab3193673">categoryContent</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Review safety practices, injury reporting, drug and alcohol guidelines, and health-related policies that keep you and others protected at work.]]></Value>
    </categoryDescription>
    <categoryTitle>
      <Value><![CDATA[ Staying Safe]]></Value>
    </categoryTitle>
  </Properties>
</Content>