<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb8f35a8-740a-41e4-a5f1-ee1aa3cdd6ce" Alias="Taking Time Off" Level="2">
  <Info>
    <Parent Key="4c2586a6-93e7-4e53-aaf2-8899ee7b8f9f">HandbookHomePage</Parent>
    <Path>/HandbookHomePage/TakingTimeOff</Path>
    <Trashed>false</Trashed>
    <ContentType>HandbookCategoryCard</ContentType>
    <CreateDate>2025-06-11T00:20:58</CreateDate>
    <NodeName Default="Taking Time Off" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="01b9177f-19bc-49e5-833e-77fab3193673">categoryContent</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Find out how to request time off, understand your leave options, and review policies for holidays, sick days, PTO, and special types of leave.]]></Value>
    </categoryDescription>
    <categoryTitle>
      <Value><![CDATA[Taking Time Off]]></Value>
    </categoryTitle>
  </Properties>
</Content>