<?xml version="1.0" encoding="utf-8"?>
<DataType Key="64687a44-d2ba-416a-b990-e8f33c0940d7" Alias="Handbook Page - Categories to Display - Multinode Treepicker" Level="1">
  <Info>
    <Name>Handbook Page - Categories to Display - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "HandbookCategoryCard",
  "ignoreUserStartNodes": false,
  "maxNumber": 10,
  "minNumber": 0,
  "showOpen": false,
  "treeSource": {
    "dynamicRoot": null,
    "id": "umb://document/4c2586a693e74e53aaf28899ee7b8f9f",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>