<?xml version="1.0" encoding="utf-8"?>
<DataType Key="88e35940-46a9-457b-a317-43b7d57a3967" Alias="Handbook Policy Editor" Level="1">
  <Info>
    <Name>Handbook Policy Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "e881c8be-9ee4-4672-b526-81e7c82e93a1",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Policy Editor",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "maxPropertyWidth": null,
  "useInlineEditingAsDefault": false,
  "useLiveEditing": true,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>