<?xml version="1.0" encoding="utf-8"?>
<DataType Key="be17439c-f874-4317-bdf5-c4ca42c91284" Alias="Policy Category" Level="1">
  <Info>
    <Name>Policy Category</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Equal Employment Opportunity (EEO)",
    "Accommodations for Disabilities",
    "Harassment \u0026 Discrimination",
    "Workplace Conduct \u0026 Behavior",
    "Attendance \u0026 Punctuality",
    "Leave \u0026 Time Off",
    "Compensation \u0026 Pay Practices",
    "Benefits \u0026 Wellness",
    "Safety \u0026 Security",
    "Remote Work \u0026 Telecommuting",
    "Use of Company Property/Technology",
    "Social Media \u0026 Communications",
    "Dress Code \u0026 Appearance",
    "Confidentiality \u0026 Data Protection",
    "Discipline \u0026 Termination",
    "Grievance \u0026 Complaint Procedures",
    "Drug \u0026 Alcohol Policy",
    "Workplace Violence Prevention",
    "Whistleblower Policy",
    "General Employment Practices"
  ],
  "multiple": false
}]]></Config>
</DataType>