<?xml version="1.0" encoding="utf-8"?>
<DataType Key="16327924-c87c-4545-8979-bb4ef33ee4a2" Alias="Policy Card - State Overlays - Block List" Level="1">
  <Info>
    <Name>Policy Card - State Overlays - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "2e0e28b9-fc97-4bad-9111-b0d549970aad",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "State Specific Policy",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "maxPropertyWidth": null,
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>